body{
	background-image: url('https://cdn.discordapp.com/attachments/1181225884825419787/1203024504096423996/pexels-leaves.jpg?ex=65cf96e0&is=65bd21e0&hm=c198c33ce89cc4f4e878ff31e456b5361532a208d5dbec5181913d3d7ae79e89&');
	background-size:cover;
	margin:0px;
	overflow: hidden;
	cursor:default;
}
@mixin blur($val){
	backdrop-filter: blur(7px);
	background-color: rgba(78, 78, 78, 0.359);
	border: 3px solid rgba(255,255,255,0.12);
	color:white;
	transition:border 0.38s ease-in-out;
	&:hover{
		border: 3px solid rgba(255, 255, 255, 0.754);

	}
}

#container{
	padding-block:15px ;
	box-sizing: border-box;
	display: flex;
	flex-direction:column ;
	align-items: center;
	height: 100vh;
	margin:0px;

}
main{
	#search{
		@include blur(1);
		padding-inline:5px;
		margin-inline: auto;
		margin-top:0px;
		margin-bottom:1%;
		display: flex;
		gap:5px;
		justify-content: center;
		width:fit-content;
		height:80px;
		border-radius:36px;
		align-items: center;
		transition:0.38s ease-in-out;
		#search-icon{
			background-color: white;
			height:30px;
			display:flex;
			width:30px;
			border-radius:50%;
		}
		#location{
			font-family: Arial, Helvetica, sans-serif;
			background-color: white;
			color: black;
			height:30px;
			display:flex;
			border-radius:36px;
			padding-inline:10px;
			align-items: center;
			
		}
		


		
	}
	#card-top{
		
		border:1px solid black;
		width:96vw;
		height:100%;
		border-radius:24px;
		display:flex;
		justify-content: center;
		// align-items: center;
		@include blur(1.02);

		#bar{
			height:90%;
			width:3px;
			background-color: rgba(128, 128, 128, 0.494);
			display:flex;
			margin-top: auto;
			margin-bottom: auto;
			margin-left: 10px;
			backdrop-filter:blur(24px);
		}
		#weather{
			width:13vw;
			height:auto;
			margin-top: auto;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-bottom: auto;
			padding-inline: 10px;
			font-size:1.3rem;
			font-family: Arial, Helvetica, sans-serif;
			
		}

		#time{
			margin-left:auto;
			display:flex;
			align-items: center;
			margin-right:4%;
			font-size: 200px;
			font-family:Arial, Helvetica, sans-serif;
			

			#colon{
				display:flex;
				transform:translateY(-4%);
				animation:blink 1.5s infinite;

			}

		}

		#dateweek{
			font-family:Arial, Helvetica, sans-serif;
			font-weight:300;
			font-size:3.2rem;
			margin-left:25px;
			margin-top:25px;
			#date{
				font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
				font-size:1.5rem;
				font-weight:100;
				
			}

			#feel{
				margin-top:10px;
				display:flex;
				align-items:flex-end;
				gap:10px;
				font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
				#feeltext{
					font-size: 1.3rem;
					color:rgba(234, 234, 234, 0.867);
				}
			}
			#highlow{
				display:flex;
				font-size:1.5rem;
				gap:5vw;
				margin-top:14vh;
				
				
				#maxup {
					display:flex;
					#arrow{
						width:20px;
						height:auto;
					}

				}
				#minup{
					display:flex;
					#arrow{
						width:20px;
						height:auto;
						transform:rotate(180deg);
					}
				}

			}


		}
		#extra{
			overflow:hidden;
			padding-left:1vw;
			display:flex;
			font-family:helvetica;
			gap:2vw;
			margin-top:auto;
			margin-bottom:auto;
			
			#left{
				display:flex;
				// align-items:center;
				flex-direction:column;
				gap:5vh;
				// justify-content:center;
				// height:40vh;
				#props{
					display:flex;
					flex-direction:column;
					font-size:1.5vw;
					#prop-value{
						font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
						color:rgba(193, 193, 193, 0.737);
					}
				}
			}

		}
	}
	#bottomcards{
		padding-top: 1%;
		display: flex;
		justify-content: center;
		gap:1.5%;
		
		#card-bottom{
			overflow: hidden;
			border:1px solid black;
			width:15.8vw;
			@include blur(1.05) ;
			border-radius:24px;
			height:40vh;
			min-height:200px;
			display:flex;
			flex-direction: column;
			justify-content:center;
			#uptemp{
				display: flex;
				align-items: center;
				justify-content: center;
				height:100%;
				
				#arrow1{
					width:25px;
					height: auto;
				}
			}
			

			#date{
				margin-top: auto;
				margin-bottom:5px;
				margin-inline: auto;
				// margin-top:34vh;
				font-size:1.5vw;
				font-weight:100;
				font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}

			#weather{
				width: 11vw;
				height:auto;
				margin-inline: auto;
				
			}
			#temp{
				// margin-bottom:34vh;
				margin-top: 10px;
				margin-right: auto;
				margin-left:25px;
                font-size:2rem;
				height:fit-content;
                font-family:Arial, Helvetica, sans-serif;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}
			#mintemp{
				font-size:1.3rem;
				margin-left:auto;
				margin-top:5px;
				margin-right:10px;
				color:rgba(234, 234, 234, 0.745);
				height:fit-content;
                font-family:Arial, Helvetica, sans-serif;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

				#downtemp{
					display:flex;
					#arrow2{
						width:20px;
						height:auto;
						transform:rotate(180deg);
					}
				}
			}

		}
	}

	#modal{

		position:absolute;
		display:flex;
		justify-content:center;
		align-items:center;
		height:100vh;
		z-index: 5;
		gap:10px;
		width:100vw;
		transform:translateY(-15px);
		backdrop-filter: blur(10px);
		margin:0px;

		#placetosearch{
			width:20vw;
			height:30px;
			@include blur(3);
			outline:none;
			border-radius: 36px;
			padding:7px;
			&:hover{
				outline:none;
			}
			&:focus{
                background-color:white;
				color:black;
				font-size:1rem;
            }
		}
		button{
			border-radius:36px;
			padding:10px;
			border:none;
			cursor:pointer;
			font-size: 1.5rem;
			transition:0.38s ease-in-out;
			&:hover{
				border-radius:7px;
				transform:scale(0.9);
			}
		}

	}
}

@keyframes blink{
	0%{
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

#load{
	position:absolute;
	height:100vh;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width:100vw;
	display:flex;
	flex-direction: column;
	color:White;
	justify-content: center;
	align-items: center;
	background-color: black;
	z-index: 3;
	font-size: 3rem;

	#sun{
		line-height: 3rem;
		animation:goofy 1.2s infinite linear;
	}
}

@keyframes goofy {
	0%{
		scale:1;
		transform:rotate(0deg);
	}
	100%{
		scale:1;
		transform:rotate(360deg);
	}
	
}

#git{
	position:absolute;
	top:20px;
	left:30px;
	padding:5px;
	background-color:white ;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	transition:0.38s ease-in-out;
	cursor:pointer;
	&:hover{
		
		transform:scale(1.05) rotate(360deg);
	}
}