body {
  background-image: url("https://cdn.discordapp.com/attachments/1181225884825419787/1208458591665651763/bg.jpg?ex=65e35bc4&is=65d0e6c4&hm=d0976711f3840ff91fe0ff631d0d0dc89b1181c871621d18dfe9a9a96dcc77cc&");
  background-size: cover;
  margin: 0px;
  overflow: hidden;
  cursor: default;
}

#container {
  padding-block: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

main #search {
  cursor: pointer;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-color: rgba(78, 78, 78, 0.359);
  border: 3px solid rgba(255, 255, 255, 0.12);
  color: white;
  transition: border 0.38s ease-in-out;
  padding-inline: 5px;
  margin-inline: auto;
  margin-top: 0px;
  margin-bottom: 1%;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 80px;
  border-radius: 36px;
  align-items: center;
  transition: 0.38s ease-in-out;
}
main #search:hover {
  border: 3px solid rgba(255, 255, 255, 0.754);
}
main #search #search-icon {
  background-color: white;
  height: 30px;
  display: flex;
  width: 30px;
  border-radius: 50%;
}
main #search #location {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  height: 30px;
  display: flex;
  border-radius: 36px;
  padding-inline: 10px;
  align-items: center;
}
main #card-top {
  border: 1px solid black;
  width: 96vw;
  height: 100%;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-color: rgba(78, 78, 78, 0.359);
  border: 3px solid rgba(255, 255, 255, 0.12);
  color: white;
  transition: border 0.38s ease-in-out;
}
main #card-top:hover {
  border: 3px solid rgba(255, 255, 255, 0.754);
}
main #card-top #bar {
  height: 90%;
  width: 3px;
  background-color: rgba(128, 128, 128, 0.494);
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
main #card-top #weather {
  width: 13vw;
  height: auto;
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  padding-inline: 10px;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
main #card-top #time {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 4%;
  font-size: 15vw;
  font-family: Arial, Helvetica, sans-serif;
}
main #card-top #time #colon {
  display: flex;
  transform: translateY(-4%);
  animation: blink 1.5s infinite;
}
main #card-top #dateweek {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 3.2vw;
  margin-left: 25px;
  margin-top: 25px;
}
main #card-top #dateweek #date {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5vw;
  font-weight: 100;
}
main #card-top #dateweek #feel {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main #card-top #dateweek #feel #feeltext {
  font-size: 1.3rem;
  color: rgba(234, 234, 234, 0.867);
}
main #card-top #dateweek #highlow {
  display: flex;
  font-size: 1.5vw;
  gap: 5vw;
  margin-top: 14vh;
}
main #card-top #dateweek #highlow #maxup {
  display: flex;
}
main #card-top #dateweek #highlow #maxup #arrow {
  width: 20px;
  height: auto;
}
main #card-top #dateweek #highlow #minup {
  display: flex;
}
main #card-top #dateweek #highlow #minup #arrow {
  width: 20px;
  height: auto;
  transform: rotate(180deg);
}
main #card-top #extra {
  overflow: hidden;
  padding-left: 1vw;
  display: flex;
  font-family: helvetica;
  gap: 2vw;
  margin-top: auto;
  margin-bottom: auto;
}
main #card-top #extra #left {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
main #card-top #extra #left #props {
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
}
main #card-top #extra #left #props #prop-value {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(193, 193, 193, 0.737);
}
main #bottomcards {
  padding-top: 1%;
  display: flex;
  justify-content: center;
  gap: 1.5%;
}
main #bottomcards #card-bottom {
  overflow: hidden;
  border: 1px solid black;
  width: 15.8vw;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-color: rgba(78, 78, 78, 0.359);
  border: 3px solid rgba(255, 255, 255, 0.12);
  color: white;
  transition: border 0.38s ease-in-out;
  border-radius: 24px;
  height: 40vh;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #bottomcards #card-bottom:hover {
  border: 3px solid rgba(255, 255, 255, 0.754);
}
main #bottomcards #card-bottom #uptemp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2.5vw;
}
main #bottomcards #card-bottom #uptemp #arrow1 {
  width: 25px;
  height: auto;
}
main #bottomcards #card-bottom #date {
  margin-top: auto;
  margin-bottom: 5px;
  margin-inline: auto;
  font-size: 1.5vw;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main #bottomcards #card-bottom #weather {
  width: 11vw;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-inline: auto;
}
main #bottomcards #card-bottom #temp {
  margin-top: 10px;
  margin-right: auto;
  margin-left: 25px;
  font-size: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main #bottomcards #card-bottom #mintemp {
  font-size: 1.3rem;
  margin-left: auto;
  margin-top: 5px;
  margin-right: 10px;
  color: rgba(234, 234, 234, 0.745);
  height: -moz-fit-content;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main #bottomcards #card-bottom #mintemp #downtemp {
  display: flex;
  font-size: 1.5rem;
}
main #bottomcards #card-bottom #mintemp #downtemp #arrow2 {
  width: 20px;
  height: auto;
  transform: rotate(180deg);
}
main #modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 5;
  gap: 10px;
  width: 100vw;
  transform: translateY(-15px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 0px;
}
main #modal #placetosearch {
  width: 20vw;
  height: 30px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  background-color: rgba(78, 78, 78, 0.359);
  border: 3px solid rgba(255, 255, 255, 0.12);
  color: white;
  transition: border 0.38s ease-in-out;
  outline: none;
  border-radius: 36px;
  padding: 7px;
}
main #modal #placetosearch:hover {
  border: 3px solid rgba(255, 255, 255, 0.754);
}
main #modal #placetosearch:hover {
  outline: none;
}
main #modal #placetosearch:focus {
  background-color: white;
  color: black;
  font-size: 1rem;
}
main #modal button {
  border-radius: 36px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.38s ease-in-out;
}
main #modal button:hover {
  border-radius: 7px;
  transform: scale(0.9);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#load {
  position: absolute;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: White;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 3;
  font-size: 3rem;
}
#load #sun {
  line-height: 3rem;
  animation: goofy 1.2s infinite linear;
}

@keyframes goofy {
  0% {
    scale: 1;
    transform: rotate(0deg);
  }
  100% {
    scale: 1;
    transform: rotate(360deg);
  }
}
#git {
  position: absolute;
  top: 20px;
  left: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: 0.38s ease-in-out;
  cursor: pointer;
}
#git:hover {
  transform: scale(1.05) rotate(360deg);
}/*# sourceMappingURL=globals.css.map */